<% if object.errors.any? %>
  <section id="errors">
    <header>
      <h2>
        Oops! The <%= object.class.name.titleize.downcase %> could not be saved. 
      </h2>
      <h3>
        Please correct the following <%= pluralize(object.errors.count, "error") %>:
      </h3>
    </header>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
  </section>
<% end %>